@import "../helpers/props.scss";

.active-menu .nav-bar {
    left: 0;
}

.active-menu:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4) !important;
}

header {
    background: transparent;
    position: absolute;
    width: 100%;
    padding: 0.5em 0;

    @media (min-width: 768px) {
        background: $navbar-color;
    }    
}

.header-wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 0 0 5%;
    font-family: Beautiful Heart;
    color: $secondary-color-text;
    
    img {
        display: block;
        width: 200px;
    }
}

.menu {
	font-weight: bold;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    
    a {
        display: block;
        padding-right: 1em;
        margin-right: 1em;    
        line-height: 1;
        text-decoration: none;
        text-transform: lowercase;
    }
    &:hover {
        opacity: 0.8;
    }

    ul {
        text-align: left;
    }

    li {
        padding: 1em 0;
        width: 100%;

        a {
            display: block;
            padding-right: 1em;
            margin-right: 1em;
            line-height: 1;
            text-decoration: none;
            text-transform: lowercase;
            color: $secondary-color-text;
        }

        @media (min-width: 768px) {
            float: right;
            width: unset;            
        }
    }
}

.menu-wrapper {
    line-height: 87px;
    padding-right: 3%;
}

.nav-bar {
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    background: $primary-color-text;

    @media (min-width: 768px) {
        display: inline-block;
        vertical-align: middle;
        margin: 0.4em 0;
        position: unset;
        max-width: unset;
        text-align: right;
        background: transparent;
    }
}

.open-menu, .close-menu {
    display: none;   

    @media not all and (min-width: 768px) {
        background: none;
        border: 0;
        outline: 0;
        font-size: 1.6em;
        text-indent: -999em;
        display: block;   
    }
}

.open-menu {
    height: 0;
    width: .75em;
    padding-top: .125em;
    border-top: .375em double $secondary-color-text;
    border-bottom: .125em solid $secondary-color-text;
    vertical-align: middle;
    margin: 0.5em;
}