@import "../helpers/props.scss";
@import "compass/css3";

.section3 {
    background-color: $background-color;
    color: $primary-color-text;

    .container {
        height: 100%;
        max-width: unset;
    }
    
    .container-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        place-content: center;
    }
      
    .column {
        flex: 1 1 350px;   
        text-align: center;
        min-height: 300px;     
     }
    
    .text-wrapper {
        display: grid;
        place-items: center;
        width: 100%;

        p {
            max-width: 330px;

            @media (min-width: 768px) {
                max-width: unset;
            }  
        }

        button {
            margin-top: 1em;
            background-color: transparent;
            border: 2px solid $secondary-color-text;
            border-radius: 99px !important;
            padding: 0.5em 2.7em 0.5em 2.7em;
            font-size: 0.9em;            
            box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
            // @include box-shadow($secondary-color-text 2px 2px 30px);
         }
    }
}