@import "../helpers/props.scss";
@import "compass/css3";

.section2 {
    background-color: $background-color;
    color: $secondary-color-text;

    .container {
        height: 100%;
        max-width: unset;
        padding: 30px 0 30px 0;
    }
    
    .container-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        place-content: center;
    }
      
    .column {
        flex: 1 1 300px;        
        text-align: center;
        font-size: 0.8em;   
     }
    
    .box {
        background-color: $primary-color-text;
        padding: 2em;
        min-height: 200px;
        width: 350px;
        margin: auto;
        opacity: 0.90;

        img {
            height: 85px;
            width: 85px;
            background-color: $navbar-color;
            border-radius: 99px;
            padding: 1em;
            opacity: 1;
        }

        p {
            font-size: 1.2em;
            letter-spacing: 2px;
        }
    }
}