@import "../helpers/props.scss";
@import "compass/css3";

.section1 {
    background: url('../img/home-bg.jpg') center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    
    .textarea {
        text-align: center;
        
        p {
            color: $secondary-color-text;
            font-size: 1.8em;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include text-shadow($primary-color-text 2px 4px 3px);
        }

        button {
            background-color: rgba($secondary-color-text, .7 );
            font-size: 0.9em;
            font-weight: bold;
            letter-spacing: 2px;            
            margin-top: 1em;
            border: 2px solid $secondary-color-text;
            border-radius: 75px !important;
            padding: 0.5em 2.7em 0.5em 2.7em;
            @include box-shadow($secondary-color-text 0 2px 6.65px 0.35px);
        }
    }
}