.section-1 {
    background: url('../img/home-bg.jpg') center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 100%;
    padding-top: 1em;    
}