@font-face {
  font-family: 'Beautiful Heart';
  src:url('../../font/Beautiful-Heart.ttf');     
}

@font-face {
font-family: 'Roboto Light';
src:url('../../font/Roboto-Light.ttf');     
}

@import "helpers/props";
@import "base/normalize";
@import "base/base";

@import "layout/header";
@import "layout/section1";
@import "layout/section2";
@import "layout/section3";
@import "layout/section4";
